html,
body {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: -webkit-fill-available;
}

body {
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    position: relative;
    background-color: black;
    overflow: hidden;
    touch-action: none;
}

#video-preview {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: contain;
    pointer-events: none;
    touch-action: none;
}

#video-preview::-webkit-media-controls-play-button,
#video-preview::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 0;
}

#spinner {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
}

#spinner img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
}

#spinner.show {
    visibility: visible;
}