[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiortc = "*"
pillow = "*"
pyvirtualcam = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
ssl_gencerts = "mkdir -p certs && openssl req -x509 -newkey rsa:4096 -keyout certs/selfsigned.pem -out certs/selfsigned.cert -days 365 -nodes"
install_dlls = "python .scripts/install_dlls.py"
uninstall_dlls = "python .scripts/uninstall_dlls.py"
