[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvirtualcam = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install_dlls = "python .scripts/install_dlls.py"
uninstall_dlls = "python .scripts/uninstall_dlls.py"
