[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiortc = "*"
pillow = "*"
numpy = "*"
pythonlangutil = "*"
"infi.systray" = "*"
pyqrcode = "*"
pyopenssl = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"
isort = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"

[scripts]
install_dlls = "python .scripts/install_dlls.py"
uninstall_dlls = "python .scripts/uninstall_dlls.py"
start = "python main.py"
dev = "nodemon --watch main.py --watch mimic --ext py --exec python main.py" # Requires that nodemon is installed globally, this can be installed with `npm i -g nodemon`
lint = "python .scripts/lint.py"
lint-imports = "isort main.py mimic"
lint-code = "autopep8 --in-place --recursive main.py mimic"
lint-type_checking = "mypy main.py mimic --ignore-missing-imports"
lint-docstring = "pydocstyle main.py mimic"
debug-ios = "remotedebug_ios_webkit_adapter --port=9000" # Requires that the package is installed and configured https://github.com/RemoteDebug/remotedebug-ios-webkit-adapter
